<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--1、配置 数据源 -->

    <!-- 2、注册实体类的映射文件 -->
    <mappers>
        <mapper resource="com/sg/ssm/pojo/userMapper.xml"/>
    </mappers>

    <!-- 3、配置相关参数信息，非必须 -->
</configuration>